.mt-wrap {
    min-height: 40rem;
    padding: 5rem 2rem;
    @include MQ(max-480) {
        padding: 2rem 1rem 1rem;
    }
}

.mountains-overflow {
    @include MQ(max-960) {
        .is-tb & {
            border: 1px solid #ccc;
            overflow-x: auto;
        }
    }
}

.mountains-list {
    position: relative;
    min-height: 20rem;
    ul {
        display: grid;
        grid-column-gap: .25rem;
        grid-row-gap: .25rem;
    }
    &.is-list {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &.is-th {
        ul {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    @include MQ(max-960) {
        &.is-list {
            ul {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        &.is-th {
            ul {
                grid-template-columns: repeat(4, 1fr);
            }
        }
        &.is-tb {
            ul {
                min-width: 56rem;
            }
        }
    }
    @include MQ(max-768) {
        &.is-list {
            ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &.is-th {
            ul {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        &.is-tb {
            ul {
                min-width: 44rem;
            }
        }
    }
    @include MQ(max-480) {
        &.is-th {
            ul {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    @include MQ(max-414) {
        &.is-th {
            ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

.mountains-item {
    position: relative;
    display: block;
    list-style-type: none;
    background-color: #fcfcfc;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color .3s ease, box-shadow .3s ease;
    a {
        figure {
            position: relative;
            background-color: #ebebeb;
            overflow: hidden;
            span {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transition: transform .2s;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                max-width: 4rem;
                transform: translate(-50%, -50%);
            }
        }
        hgroup {
            position: relative;
            h2 {
                line-height: 1.5;
                font-weight: bold;
                color: var(--c1);
                @include text-truncate;
            }
            p {
                line-height: 1.125rem;
                font-size: 0.75rem;
                color: #bbb;
                @include text-truncate;
                span {
                    &:first-child {
                        margin-right: 0.25rem;
                    }
                }
            }
            i {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    display: block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 16px 16px 0;
                    border-color: transparent var(--red) transparent transparent;
                }
                svg {
                    display: block;
                    width: 1.5rem;
                    fill: var(--red);
                    margin: 0 auto;
                }
            }
        }
        &:hover {
            figure {
                span {
                    transform: scale(1.05);
                }
            }
        }
    }
    &:hover {
        z-index: 3;
        box-shadow: 0 0 8px 0 rgba(#999, .2);
    }
    @include MQ(max-480) {
        border-radius: 0;
    }
}

.mountains-item {
    .is-list & {
        border-radius: 5px 0 5px 5px;
        a {
            display: flex;
            figure {
                flex: 0 0 8rem;
                min-width: 0;
                height: 5.5rem;
                border-radius: 5px 0 0 5px;
            }
            hgroup {
                flex: 1;
                min-width: 0;
                padding: .75rem .75rem 0;
                h2 {
                    font-size: 1rem;
                    margin-bottom: .25rem;
                }
                p {
                    &.aname {
                        max-width: 8rem;
                    }
                    &.daytime {
                        position: absolute;
                        bottom: calc(1.125rem * 1 + .5rem);
                        right: 0.75rem;
                    }
                    &.length {
                        position: absolute;
                        bottom: .5rem;
                        right: 0.75rem;
                    }
                }
            }
            &:hover {
                hgroup {
                    p {
                        color: #999;
                    }
                }
            }
        }
    }
    @include MQ(max-480) {
        .is-list & {
            border-radius: 0;
            a {
                figure {
                    flex: 0 0 6rem;
                    height: 4.5rem;
                    border-radius: 0;
                }
                hgroup {
                    padding-top: 0.5rem;
                    h2 {
                        font-size: 0.875rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.mountains-item {
    .is-th & {
        a {
            display: block;
            figure {
                height: 9.5rem;
                img {
                    top: 40%;
                }
            }
            hgroup {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
                display: block;
                width: 100%;
                height: 2rem;
                background-color: #3e3c3b;
                padding: 0 .5rem;
                overflow: hidden;
                transition: height .2s;
                h2 {
                    line-height: 2rem;
                    font-size: 0.875rem;
                    color: #FFF;
                }
                p {
                    color: rgba(#FFF, .9);
                    margin-top: -0.25rem;
                    opacity: 0;
                    float: left;
                    &.height,
                    &.daytime,
                    &.length {
                        float: right;
                    }
                }
            }
        }
        &:hover {
            a {
                hgroup {
                    height: 3rem;
                    background-color: var(--black);
                    @include clearfix;
                    h2 {
                        color: var(--c1);
                    }
                    p {
                        opacity: 1;
                    }
                }
            }
        }
    }
    @include MQ(max-414) {
        .is-th & {
            a {
                figure {
                    height: 60vw;
                }
            }
        }
    }
}

.mountains-item {
    .is-tb & {
        a {
            display: block;
            figure {
                display: none;
            }
            hgroup {
                display: flex;
                padding: .25rem 2.5rem .25rem .75rem;
                h2 {
                    flex: 0 0 10rem;
                    min-width: 0;
                    line-height: 1.5rem;
                    font-size: .875rem;
                    font-weight: normal;
                    color: var(--black);
                    padding: 0 0.5rem;
                }
                p {
                    flex: 1;
                    min-width: 0;
                    line-height: 1.5rem;
                    font-size: 0.875rem;
                    color: #555;
                    padding: 0 0.5rem;
                    span {
                        margin-right: 0;
                    }
                    &.area {
                        flex: 0 0 3.5rem;
                    }
                    &.site {
                        flex: 0 0 4rem;
                        text-align: center;
                        span {
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                    &.height {
                        flex: 0 0 5rem;
                        text-align: right;
                    }
                    &.distance {
                        flex: 0 0 4rem;
                        text-align: right;
                    }
                    &.ap,
                    &.am,
                    &.day,
                    &.route {
                        flex: 0 0 3.5rem;
                        text-align: center;
                    }
                    &.lv {
                        flex: 0 0 4rem;
                        text-align: center;
                    }
                }
            }
            i {
                width: 2.5rem;
                font-size: 0.875rem;
                &::before {
                    display: none;
                }
                &::after {
                    content: '\f00c';
                    font-family: 'Font Awesome 6 Free';
                    font-weight: 900;
                    color: var(--c1);
                }
            }
        }
        &:hover {
            background-color: #dedede;
        }
    }
    @include MQ(max-768) {
        .is-tb & {
            overflow: visible;
            a {
                hgroup {
                    h2 {
                        flex: 1;
                    }
                    p {
                        &.area,
                        &.trail {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.mountains-tb {
    position: sticky;
    top: 8.5rem;
    z-index: 5;
    display: flex;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5rem;
    padding: .5rem 2.5rem .5rem .75rem;
    p {
        flex: 1;
        min-width: 0;
        font-size: .875rem;
        color: #CCC;
        padding: 0 0.5rem;
        &.name {
            flex: 0 0 10rem;
        }
        &.area {
            flex: 0 0 3.5rem;
        }
        &.site,
        &.lv {
            flex: 0 0 4rem;
            text-align: center;
        }
        &.height {
            flex: 0 0 5rem;
            text-align: right;
        }
        &.distance {
            flex: 0 0 4rem;
            text-align: right;
        }
        &.ap,
        &.am,
        &.day,
        &.route {
            flex: 0 0 3.5rem;
            text-align: center;
        }
    }
    @include MQ(max-960) {
        top: 0;
        min-width: 56rem;
    }
    @include MQ(max-768) {
        min-width: 44rem;
        p {
            &.name {
                flex: 1;
            }
            &.area,
            &.trail {
                display: none;
            }
        }
    }
}

[class*="r-icon-"] {
    position: relative;
    display: block;
    height: 100%;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1rem;
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        color: #999;
        transform: translate(-50%, -50%);
    }
}

.r-icon-1 {
    &::before {
        content: '\f30b';
    }
}

.r-icon-2 {
    &::before {
        content: '\f111';
        font-weight: 400;
    }
}

.r-icon-3 {
    &::before {
        content: '\f362';
    }
}

.mountains-container {
    padding: 5rem 2rem;
    @include MQ(max-768) {
        padding-top: 4rem;
    }
    @include MQ(max-480) {
        padding: 2rem 1rem;
    }
}

.mountains-content {
    max-width: 60rem;
    min-height: 40rem;
    margin: 0 auto;
}

.mountains-info {
    display: flex;
    figure {
        position: relative;
        flex: 0 0 45%;
        background-color: #ddd;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        overflow: hidden;
        pointer-events: none;
        &::before {
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-image: url("/images/mountains/default.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 30% auto;
        }
        span {
            position: relative;
            z-index: 1;
            display: block;
            height: 100%;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            animation-name: mt_zoomIn;
            animation-duration: 20s;
            animation-direction: alternate;
            animation-fill-mode: both;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        img {
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            width: auto;
            height: 100%;
            transform: translateX(-50%);
        }
        p {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 5;
            display: block;
            width: 100%;
            line-height: 1.5;
            font-size: 0.875rem;
            color: #FFF;
            background-color: rgba(#000, .6);
            padding: 1rem;
        }
    }
    hgroup {
        flex: 1;
        background-color: #fafafa;
        padding: 2rem;
        li {
            display: flex;
            position: relative;
            list-style-type: none;
            line-height: 1.5;
            font-size: 0.875rem;
            color: #AAA;
            padding: 0.25rem 0;
            span {
                margin-right: .75rem;
                &:first-child {
                    flex: 0 0 auto;
                }
                &:last-child {
                    color: var(--black);
                    margin-right: 0;
                }
            }
            a {
                color: var(--href);
                &.article {
                    &::before {
                        content: '〈 ';
                    }
                    &::after {
                        content: ' 〉';
                    }
                    &:empty {
                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--c1);
        margin-bottom: 1rem;
    }
    h6 {
        line-height: 1.7;
        font-size: 0.875rem;
        color: var(--vlack);
        margin-bottom: 1rem;
    }
    &.is-routes {
        display: block;
        figure {
            height: 25rem;
            &::before {
                background-size: 10rem auto;
            }
        }
        hgroup {
            li {
                span {
                    &:first-child {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    @include MQ(max-768) {
        h1 {
            font-size: 1.5rem;
        }
        &.is-routes {
            figure {
                height: 20rem;
                &::before {
                    background-size: 8rem auto;
                }
            }
        }
    }
    @include MQ(max-480) {
        flex-wrap: wrap;
        h1 {
            font-size: 1.25rem;
        }
        figure {
            flex: 1 1 100%;
            order: 2;
            height: auto;
            margin-top: 0.5rem;
            span {
                display: none;
            }
            p {
                position: relative;
            }
        }
        hgroup {
            flex: 1 1 100%;
            order: 1;
            padding: 1rem;
        }
        &.is-routes {
            figure {
                height: 15rem;
                &::before {
                    background-size: 6rem auto;
                }
                span {
                    display: block;
                }
            }
        }
    }
}

.routes-list {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
    white-space: nowrap;
    overflow-x: auto;
    @include scrollbar;
}

.routes-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    &:first-child {
        .routes-box {
            margin-left: 0;
            &::before {
                display: none;
            }
        }
    }
}

.routes-box {
    position: relative;
    text-align: center;
    margin-left: 3rem;
    &::before {
        content: '\f141';
        position: absolute;
        top: 2rem;
        left: -3rem;
        display: block;
        width: 3rem;
        text-align: center;
        font-size: 1rem;
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        color: #DDD;
    }
    b {
        display: block;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
        &::before {
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            font-size: 1rem;
            color: #999;
        }
        &.is-start {
            &::before {
                content: '\f54b';
            }
        }
        &.is-moutain {
            &::before {
                content: '\f6fc';
            }
        }
        &.is-house {
            &::before {
                content: '\f015';
            }
        }
        &.is-camp {
            &::before {
                content: '\f6bb';
            }
        }
        &.is-lake {
            &::before {
                content: '\f773';
            }
        }
        &.is-mark {
            &::before {
                content: '\f66f';
            }
        }
        &.is-nature {
            &::before {
                content: '\f1bb';
            }
        }
        &.is-goal {
            &::before {
                content: '\f024';
            }
        }
    }
    p {
        line-height: 1.5;
        font-size: 0.875rem;
    }
    span {
        display: block;
        font-size: 0.75rem;
        color: #999;
    }
}

// gallery
.gallery-content {
    max-width: 60rem;
    margin: 0 auto;
}

.gallery-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    min-height: 20rem;
    @include MQ(max-414) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.gallery-item {
    position: relative;
    height: 20rem;
    overflow: hidden;
    cursor: pointer;
    span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        filter: grayscale(.7);
        backface-visibility: hidden;
        transition: transform .5s, filter .5s;
    }
    &:hover {
        span {
            filter: grayscale(0);
            transform: translateZ(0) scale(1.05);
        }
    }
    @include MQ(max-960) {
        height: 31vw;
    }
    @include MQ(max-414) {
        height: 46vw;
    }
}

.gallery-popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .7);
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forward;
}

.gallery-popup-flex {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: flex;
    width: calc(100% - 4rem);
    max-width: 60rem;
    height: 60vh;
    max-height: 60rem;
    background-color: #fff;
    transform: translate(-50%, -50%);
    @include MQ(max-480) {
        display: block;
        width: calc(100% - 2rem);
        height: 80vh;
        max-height: none;
    }
}

.gallery-popup-img {
    display: flex;
    flex: 0 0 50%;
    height: 100%;
    figure {
        width: 100%;
        height: 100%;
        @include scrollbar;
        span {
            display: block;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: 50% 50%;
        }
    }
    img {
        display: block;
        width: 100%;
    }
    @include MQ(max-480) {
        height: 50%;
        figure {
            height: 100%;
        }
    }
}

.gallery-popup-content {
    flex: 0 0 50%;
    @include MQ(max-480) {
        height: 50%;
        overflow-y: auto;
    }
}

.gallery-popup-content {
    position: relative;
    line-height: 1.75;
    padding: 4rem 2rem;
    p {
        font-size: 0.875rem;
        &:last-of-type {
            color: #999;
            margin-bottom: 0.5rem;
            &:before {
                content: '#';
            }
        }
    }
    time {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: right;
        font-size: 0.875rem;
        color: #AAA;
        padding: 1rem 2rem;
    }
    @include MQ(max-480) {
        padding-top: 2rem;
        p {
            &:last-of-type {
                line-height: 1.2;
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }
        time {
            position: relative;
            line-height: 1.2;
            text-align: left;
            padding: 0;
        }
    }
    @include MQ(max-320) {
        padding: 1rem 1rem 4rem;
    }
}

.gallery-popup-btn {
    position: absolute;
    top: 0;
    right: -4rem;
    button {
        display: block;
        width: 4rem;
        height: 4rem;
        text-align: center;
        font-size: 1.5rem;
        color: #FFF;
        background-color: #333;
        margin-bottom: 2px;
        transition: color .3s;
        &::before {
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
        }
        &.btn-prev {
            &::before {
                content: '\f053';
            }
        }
        &.btn-next {
            &::before {
                content: '\f054';
            }
        }
        &:hover {
            color: var(--c1);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include MQ(max-1280) {
        top: auto;
        bottom: -4rem;
        right: 0;
        button {
            display: inline-block;
            margin-bottom: 0;
        }
    }
    @include MQ(max-480) {
        bottom: 0;
        button {
            width: 3rem;
            height: 3rem;
            font-size: 1rem;
        }
    }
}

// mtlogs
.mtlogs-wrap {
    padding: 5rem 0;
    .main-head {
        margin-bottom: 0;
    }
    .slider-list {
        .slick-list {
            padding-top: 0 !important;
        }
    }
    @include MQ(max-768) {
        padding-top: 4rem;
    }
    @include MQ(max-480) {
        padding-top: 2rem;
    }
}

.mtlogs-main {
    > h2 {
        width: calc(100% - 4rem);
        max-width: 60rem;
        line-height: 2;
        font-size: 1rem;
        font-weight: bold;
        color: var(--c1);
        margin: 0 auto;
    }
    @include MQ(max-768) {
        > h2 {
            line-height: 1;
        }
    }
    @include MQ(max-480) {
        > h2 {
            width: calc(100% - 2rem);
        }
    }
}

.mtlogs-list {
    width: calc(100% - 4rem);
    max-width: 60rem;
    margin: 2rem auto;
    h2 {
        line-height: 2;
        font-size: 1rem;
        font-weight: bold;
        color: var(--c1);
        margin-bottom: 1rem;
    }
    li {
        list-style-type: none;
        margin-bottom: 1rem;
        a {
            position: relative;
            display: block;
            min-height: 10rem;
            padding: 1rem 0 2rem 17rem;
            transition: transform .3s;
            figure {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                display: block;
                width: 15rem;
                height: 10rem;
                background-color: #fafafa;
                background-image: url("/images/icon/default.png");
                background-repeat: no-repeat;
                background-size: 50% auto;
                background-position: 50% 50%;
                border-radius: 0.5rem;
                overflow: hidden;
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
            }
            h3 {
                line-height: 1;
                font-size: 1.125rem;
                font-weight: bold;
                color: #000;
                @include text-truncate;
                margin-bottom: 0.5rem;
                padding: 0.25rem 0;
                transition: color .3s;
            }
            p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-height: 1.5;
                font-size: 0.875rem;
                font-weight: normal;
                color: #999;
                overflow: hidden;
            }
            time {
                position: absolute;
                bottom: 1rem;
                font-size: 0.75rem;
                color: #AAA;
                &::before {
                    content: 'published @ ';
                }
            }
            &:hover {
                transform: scale(1.03);
                h2 {
                    color: var(--c1);
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include MQ(max-768) {
        margin-top: 4rem;
        li {
            a {
                min-height: 7.5rem;
                padding: 0 0 0 10rem;
                figure {
                    width: 9rem;
                    height: 7.5rem;
                }
                time {
                    bottom: 0;
                }
            }
        }
    }
    @include MQ(max-480) {
        width: calc(100% - 2rem);
        margin-top: 2rem;
    }
    @include MQ(max-414) {
        li {
            a {
                min-height: 4.5rem;
                padding: 0 0 0 7rem;
                figure {
                    width: 6rem;
                    height: 4.5rem;
                    border-radius: .25rem;
                }
                h3 {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    height: 2.5rem;
                    line-height: 1.25rem;
                    text-overflow: clip;
                    -ms-text-overflow: clip;
                    white-space: normal;
                    overflow: hidden;
                }
                p {
                    display: none;
                }
            }
        }
    }
}